<tr>
  <td><%= career_rushing_stat.year %></td>
  <td><%= career_rushing_stat.team %></td>
  <td><%= career_rushing_stat.games_played %></td>
  <td><%= career_rushing_stat.rushing_attempts %></td>
  <td><%= career_rushing_stat.rushing_yards %></td>
  <td><%= career_rushing_stat.yards_per_game %></td>
  <td><%= career_rushing_stat.yards_per_carry %></td>
  <td><%= career_rushing_stat.hundred_plus %></td>
  <td><%= career_rushing_stat.rushing_touchdowns %></td>
  <td><%= career_rushing_stat.targets %></td>
  <td><%= career_rushing_stat.receptions %></td>
  <td><%= career_rushing_stat.receiving_yards %></td>
  <td><%= career_rushing_stat.receiving_touchdowns %></td>
  <td><%= career_rushing_stat.fantasy_points %></td>
  <td><%= career_rushing_stat.ppr_fantasy_points %></td>
</tr>