<div class="row">
  <div class="col-md-12">
    <h1 class="team text-center"><%= @team.name %></h1><br>
  </div>
  <div class="col-md-12 text-center">
    <% if policy(Player.new).create? %>
      <%= link_to "New Player", new_team_player_path(@team, @player), class: 'edit btn btn-success' %>
    <% end %>
    <% if policy(@team).destroy? %>
      <%= link_to "Delete Team", @team, method: :delete, class: 'cancel btn btn-danger', data: { confirm: 'Are you sure you want to delete this team?' } %>
    <% end %>
  </div>
  <div class="row">
    <% @players.each do |player| %>
      <div class="col-md-4 text-center"><br><br>
        <h3><%= link_to image_tag(player.image_path, :width => 150, :height => 150), [@team, player] %></h3>
        <h3><%= link_to player.name, [@team, player], class: 'player-links' %>
      </div>
    <% end %>
  </div>
</div><br><br><br>