<tr>
  <td><%= rushing_game_log.week %></td>
  <td><%= rushing_game_log.date.strftime("%-m/%d") %></td>
  <td><%= rushing_game_log.opponent %></td>
  <td><%= rushing_game_log.rushing_attempts %></td>
  <td><%= rushing_game_log.rushing_yards %></td>
  <td><%= rushing_game_log.yards_per_carry %></td>
  <td><%= rushing_game_log.rushing_touchdowns %></td>
  <td><%= rushing_game_log.targets %></td>
  <td><%= rushing_game_log.receptions %></td>
  <td><%= rushing_game_log.receiving_yards %></td>
  <td><%= rushing_game_log.receiving_touchdowns %></td>
  <td><%= rushing_game_log.fantasy_points %></td>
  <td><%= rushing_game_log.ppr_fantasy_points %></td>
  <% if policy(rushing_game_log).update? %>
    <td><%= link_to "Edit", edit_nfl_player_rushing_game_log_path(rushing_game_log.nfl_player, rushing_game_log), {:style=>'color: #ffffff'} %></td>
  <% end %>
  </td>
  <% if policy(rushing_game_log).destroy? %>
    <td><%= link_to "Delete", [rushing_game_log.nfl_player, rushing_game_log], {:style=>'color: #ffffff', method: :delete} %></td>
  <% end %>
</tr>