<div class="row">
  <div class="col-md-12">
    <h1 class="article">ARTICLES</h1><br>
  </div>
</div>
<table class="table table-bordered">
  <div class="row">
    <% @articles.each do |article| %>
    <tr><td>
      <% if article.image_path? %>
        <div class="col-md-3">
          <%= link_to image_tag(article.image_path, :width => 175, :height => 175), article %>
        </div>
      <% end %>
      <div class="col-md-9">
        <h2><%= link_to article.title, article, class: 'article-links' %></h2>
        <small class="author"><%= article.user.username %></small><br>
        <small class="date"><%= article.created_at.strftime("%A, %B %d, %Y") %></small><br><br>
      </div>
      <div class="col-md-9 article">
        <p><%= article.body[0...290] %>...</p>
      </div>
    </td></tr>
    <% end %>
  </div>
</table>
<h4 class="text-center paginate"><%= will_paginate @articles %></h4>
<div class="row">
  <div class="text-center">
    <% if policy(Article.new).create? %>
      <%= link_to "New Article", new_article_path, class: 'devise btn btn-success' %>
    <% end %>
  </div>
</div><br><br>