<div class="home">
  <div class="row">
    <div class="col-md-8">
      <h1 class="post"><%= @article.title %></h1>
      <small class="author">
        Submitted <%= time_ago_in_words(@article.created_at) %>
        By <%= @article.user.username %>
      </small><br><br>
      <% if policy(@article).update? %>
        <%= link_to "Edit Article", edit_article_path(@article), class: 'edit btn btn-success' %>
      <% end %>
      <% if policy(@article).destroy? %>
        <%= link_to "Delete Article", @article, method: :delete, class: 'cancel btn btn-danger', data: { confirm: 'Are you sure you want to delete this article?' } %><br><br>
      <% end %>
    </div>
    <% if @article.image_path %>
      <div class="col-md-4">
        <%= image_tag(@article.image_path, :width => 200, :height => 200) %><br><br>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><%= markdown_to_html @article.body %></p><br><br><br>
    </div>
  </div>
</div>