<div class="row">
  <div class="col-md-12">
    <h1 class="blue"><%= @article.title %></h1>
    <small class="green">By <%= @article.user.username %></small><br>
    <small class="grey"><%= @article.created_at.strftime("%A, %B %d, %Y") %></small><br><br>
    <% if policy(@article).update? %>
      <%= link_to "Edit Article", edit_article_path(@article), class: 'edit btn btn-success' %>
    <% end %>
    <% if policy(@article).destroy? %>
      <%= link_to "Delete Article", @article, method: :delete, class: 'cancel btn btn-danger', data: { confirm: 'Are you sure you want to delete this article?' } %><br><br>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 article-body grey">
    <% if @article.image_path %>
    <div class="col-md-4 article-image">
      <%= image_tag(@article.image_path, :width => 220, :height => 220) %><br><br>
    </div>
    <% end %>
    <p><%= markdown_to_html @article.body %></p><br><br><br>
  </div>
</div>