<div class="home">
  <div class="row">
    <h1><%= @topic.name %></h1>
    <div class="pull-right">
      <% if policy(@topic).update? %>
        <%= link_to "Edit Topic", edit_topic_path(@topic), class: 'devise btn btn-success' %>
      <% end %>
      <% if policy(Post.new).create? %>
        <%= link_to "New Post", new_topic_post_path(@topic), class: 'devise btn btn-success' %>
      <% end %>
    </div><br>
    <% @posts.each do |post| %>
      <h3 class="text"><%= link_to post.title, [@topic, post], class: 'post-links' %></h3>
      <h5 class="author">By <%= post.user.username %></h5>
    <% end %><br>
  </div>
</div><br><br>