<tr>
  <td><%= career_passing_stat.year %></td>
  <td><%= career_passing_stat.team %></td>
  <td><%= career_passing_stat.games_played %></td>
  <td><%= career_passing_stat.completions %></td>
  <td><%= career_passing_stat.passing_attempts %></td>
  <td><%= career_passing_stat.completion_percentage %></td>
  <td><%= career_passing_stat.passing_yards %></td>
  <td><%= career_passing_stat.yards_per_attempt %></td>
  <td><%= career_passing_stat.yards_per_game %></td>
  <td><%= career_passing_stat.three_hundred_plus %></td>
  <td><%= career_passing_stat.passing_touchdowns %></td>
  <td><%= career_passing_stat.interceptions %></td>
  <td><%= career_passing_stat.rushing_attempts %></td>
  <td><%= career_passing_stat.rushing_yards %></td>
  <td><%= career_passing_stat.rushing_touchdowns %></td>
  <td><%= career_passing_stat.fantasy_points %></td>
</tr>