<div class="row">
  <div class="col-md-12">
    <h3>Quarterback Leaders - 2015</h3>
    <table id="header" class="table table-bordered grey text-center">
      <tbody>
        <tr>
          <th colspan="2">Player</th>
          <th colspan="9">Passing</th>
          <th colspan="3">Rushing</th>
          <th colspan="1">Fantasy Points</th>
        </tr>
        <tr>
          <th title="Name">NAME</th>
          <th title="Team">TEAM</th>
          <th title="Completions"><%= sortable "completions", "COMP" %></th>
          <th title="Passing Attempts"><%= sortable "passing_attempts", "ATT" %></th>
          <th title="Completion Percentage"><%= sortable "completion_percentage", "COMP %" %></th>
          <th title="Passing Yards"><%= sortable "passing_yards", "YARDS" %></th>
          <th title="Yards Per Attempt"><%= sortable "yards_per_attempt", "YPA" %></th>
          <th title="Yards Per Game"><%= sortable "yards_per_game", "YPG" %></th>
          <th title="300+ Passing Yard Games"><%= sortable "three_hundred_plus", "300+" %></th>
          <th title="Passing Touchdowns"><%= sortable "passing_touchdowns", "TD" %></th>
          <th title="Interceptions"><%= sortable "interceptions", "INT" %></th>
          <th title="Rushing Attempts"><%= sortable "rushing_attempts", "ATT" %></th>
          <th title="Rushing Yards"><%= sortable "rushing_yards", "YARDS" %></th>
          <th title="Rushing Touchdowns"><%= sortable "rushing_touchdowns", "TD" %></th>
          <th title="Standard Scoring"><%= sortable "fantasy_points", "STANDARD" %></th>
        </tr>
        <% @nfl_players.each do |nfl_player| %>
          <tr>
            <% career_passing_stat = nfl_player.career_passing_stats.find_by(year: 2015) %>
            <% if career_passing_stat.passing_attempts > 200 %>
              <td align="left"><%= link_to nfl_player.name, nfl_player_path(nfl_player), class: 'player-stats' %></td>
              <td><%= career_passing_stat.team %></td>
              <td><%= career_passing_stat.completions %></td>
              <td><%= career_passing_stat.passing_attempts %></td>
              <td><%= career_passing_stat.completion_percentage %></td>
              <td><%= career_passing_stat.passing_yards %></td>
              <td><%= career_passing_stat.yards_per_attempt %></td>
              <td><%= career_passing_stat.yards_per_game %></td>
              <td><%= career_passing_stat.three_hundred_plus %></td>
              <td><%= career_passing_stat.passing_touchdowns %></td>
              <td><%= career_passing_stat.interceptions %></td>
              <td><%= career_passing_stat.rushing_attempts %></td>
              <td><%= career_passing_stat.rushing_yards %></td>
              <td><%= career_passing_stat.rushing_touchdowns %></td>
              <td><%= career_passing_stat.fantasy_points %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>