<div class="row">
  <div class="col-md-12">
    <h3>2015 Quarterback Leaders</h3>
    <table id="header" class="table table-bordered grey text-center">
      <tbody>
        <tr>
          <th colspan="2">Player</th>
          <th colspan="9">Passing</th>
          <th colspan="3">Rushing</th>
          <th colspan="1">Fantasy Points</th>
        </tr>
        <tr>
          <th title="Name">NAME</th>
          <th title="Team">TEAM</th>
          <th title="Completions">COMP</th>
          <th title="Passing Attempts">ATT</th>
          <th title="Completion Percentage">COMP %</th>
          <th title="Passing Yards">YARDS</th>
          <th title="Yards Per Attempt">YPA</th>
          <th title="Yards Per Game">YPG</th>
          <th title="300+ Passing Yard Games">300+</th>
          <th title="Passing Touchdowns">TD</th>
          <th title="Interceptions">INT</th>
          <th title="Rushing Attempts">ATT</th>
          <th title="Rushing Yards">YARDS</th>
          <th title="Rushing Touchdowns">TD</th>
          <th title="Standard Scoring">STANDARD</th>
        </tr>
        <% @nfl_players.each do |nfl_player| %>
          <tr>
            <% career_passing_stat = nfl_player.career_passing_stats.find_by(year: 2015) %>
            <td align="left"><%= link_to nfl_player.name, nfl_player_path(nfl_player), class: 'player-stats' %></td>
            <td><%= career_passing_stat.team %></td>
            <td><%= career_passing_stat.completions %></td>
            <td><%= career_passing_stat.passing_attempts %></td>
            <td><%= career_passing_stat.completion_percentage %></td>
            <td><%= career_passing_stat.passing_yards %></td>
            <td><%= career_passing_stat.yards_per_attempt %></td>
            <td><%= career_passing_stat.yards_per_game %></td>
            <td><%= career_passing_stat.three_hundred_plus %></td>
            <td><%= career_passing_stat.passing_touchdowns %></td>
            <td><%= career_passing_stat.interceptions %></td>
            <td><%= career_passing_stat.rushing_attempts %></td>
            <td><%= career_passing_stat.rushing_yards %></td>
            <td><%= career_passing_stat.rushing_touchdowns %></td>
            <td><%= career_passing_stat.fantasy_points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>