<div class="row">
  <div class="col-md-12">
    <h3>2015 Running Back Leaders</h3>
    <table id="header" class="table table-bordered grey text-center">
      <tbody>
        <tr>
          <th colspan="2">Player</th>
          <th colspan="6">Rushing</th>
          <th colspan="4">Receiving</th>
          <th colspan="2">Fantasy Points</th>
        </tr>
        <tr>
          <th title="Name">NAME</th>
          <th title="Team">TEAM</th>
          <th title="Rushing Attempts">RUSH</th>
          <th title="Rushing Yards">YARDS</th>
          <th title="Yards Per Game">YPG</th>
          <th title="Yards Per Carry">YPC</th>
          <th title="100+ Rushing Yard Games">100+</th>
          <th title="Rushing Touchdowns">TD</th>
          <th title="Targets">TGTS</th>
          <th title="Receptions">REC</th>
          <th title="Receiving Yards">YARDS</th>
          <th title="Receiving Touchdowns">TD</th>
          <th title="Standard Scoring">STANDARD</th>
          <th title="Points Per Reception Scoring">PPR</th>
        </tr>
        <% @nfl_players.each do |nfl_player| %>
          <tr>
            <% career_rushing_stat = nfl_player.career_rushing_stats.find_by(year: 2015) %>
            <td align="left"><%= link_to nfl_player.name, nfl_player_path(nfl_player), class: 'player-stats' %></td>
            <td><%= career_rushing_stat.team %></td>
            <td><%= career_rushing_stat.rushing_attempts %></td>
            <td><%= career_rushing_stat.rushing_yards %></td>
            <td><%= career_rushing_stat.yards_per_game %></td>
            <td><%= career_rushing_stat.yards_per_carry %></td>
            <td><%= career_rushing_stat.hundred_plus %></td>
            <td><%= career_rushing_stat.rushing_touchdowns %></td>
            <td><%= career_rushing_stat.targets %></td>
            <td><%= career_rushing_stat.receptions %></td>
            <td><%= career_rushing_stat.receiving_yards %></td>
            <td><%= career_rushing_stat.receiving_touchdowns %></td>
            <td><%= career_rushing_stat.fantasy_points %></td>
            <td><%= career_rushing_stat.ppr_fantasy_points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>