<div class="row">
  <div class="col-md-12">
    <h3>2015 Running Back Leaders</h3>
    <table id="header" class="table table-bordered grey text-center">
      <tbody>
        <tr>
          <th colspan="2">Player</th>
          <th colspan="6">Rushing</th>
          <th colspan="4">Receiving</th>
          <th colspan="2">Fantasy Points</th>
        </tr>
        <tr>
          <th title="Name">NAME</th>
          <th title="Team">TEAM</th>
          <th title="Rushing Attempts"><%= sortable "rushing_attempts", "RUSH" %></th>
          <th title="Rushing Yards"><%= sortable "rushing_yards", "YARDS" %></th>
          <th title="Yards Per Game"><%= sortable "yards_per_game", "YPG" %></th>
          <th title="Yards Per Carry"><%= sortable "yards_per_carry", "YPC" %></th>
          <th title="100+ Rushing Yard Games"><%= sortable "hundred_plus", "100+" %></th>
          <th title="Rushing Touchdowns"><%= sortable "rushing_touchdowns", "TD" %></th>
          <th title="Targets"><%= sortable "targets", "TGTS" %></th>
          <th title="Receptions"><%= sortable "receptions", "REC" %></th>
          <th title="Receiving Yards"><%= sortable "receiving_yards", "YARDS" %></th>
          <th title="Receiving Touchdowns"><%= sortable "receiving_touchdowns", "TD" %></th>
          <th title="Standard Yahoo Scoring"><%= sortable "fantasy_points", "STANDARD" %></th>
          <th title="Points Per Reception Scoring"><%= sortable "ppr_fantasy_points", "PPR" %></th>
        </tr>
        <% @nfl_players.each do |nfl_player| %>
          <tr>
            <% career_rushing_stat = nfl_player.career_rushing_stats.find_by(year: 2015) %>
            <% if career_rushing_stat.rushing_attempts > 25 %>
              <td align="left"><%= link_to nfl_player.name, nfl_player_path(nfl_player), class: 'player-stats' %></td>
              <td><%= link_to career_rushing_stat.team, nfl_team_path(nfl_player.nfl_team.id), class: 'team-id' %></td>
              <td><%= career_rushing_stat.rushing_attempts %></td>
              <td><%= career_rushing_stat.rushing_yards %></td>
              <td><%= career_rushing_stat.yards_per_game %></td>
              <td><%= career_rushing_stat.yards_per_carry %></td>
              <td><%= career_rushing_stat.hundred_plus %></td>
              <td><%= career_rushing_stat.rushing_touchdowns %></td>
              <td><%= career_rushing_stat.targets %></td>
              <td><%= career_rushing_stat.receptions %></td>
              <td><%= career_rushing_stat.receiving_yards %></td>
              <td><%= career_rushing_stat.receiving_touchdowns %></td>
              <td><%= career_rushing_stat.fantasy_points %></td>
              <td><%= career_rushing_stat.ppr_fantasy_points %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>