<div class="row">
  <div class="col-md-12">
    <h3>2015 Wide Receiver Leaders</h3>
    <table id="header" class="table table-bordered grey text-center">
      <tbody>
        <tr>
          <th colspan="2">Player</th>
          <th colspan="7">Receiving</th>
          <th colspan="3">Rushing</th>
          <th colspan="2">Fantasy Points</th>
        </tr>
        <tr>
          <th title="Name">NAME</th>
          <th title="Team">TEAM</th>
          <th title="Targets"><%= sortable "targets", "TGTS" %></th>
          <th title="Receptions"><%= sortable "receptions", "REC" %></th>
          <th title="Receiving Yards"><%= sortable "receiving_yards", "YARDS" %></th>
          <th title="Yards Per Game"><%= sortable "yards_per_game", "YPG" %></th>
          <th title="Yards Per Reception"><%= sortable "yards_per_reception", "YPR" %></th>
          <th title="100+ Receiving Yard Games"><%= sortable "hundred_plus", "100+" %></th>
          <th title="Receiving Touchdowns"><%= sortable "receiving_touchdowns", "TD" %></th>
          <th title="Rushing Attempts"><%= sortable "rushing_attempts", "RUSH" %></th>
          <th title="Rushing Yards"><%= sortable "rushing_yards", "YARDS" %></th>
          <th title="Rushing Touchdowns"><%= sortable "rushing_touchdowns", "TD" %></th>
          <th title="Standard Yahoo Scoring"><%= sortable "fantasy_points", "STANDARD" %></th>
          <th title="Points Per Reception Scoring"><%= sortable "ppr_fantasy_points", "PPR" %></th>
        </tr>
        <% @nfl_players.each do |nfl_player| %>
          <tr>
            <% career_receiving_stat = nfl_player.career_receiving_stats.find_by(year: 2015) %>
            <% if career_receiving_stat.receptions > 30 %>
              <td align="left"><%= link_to nfl_player.name, nfl_player_path(nfl_player), class: 'player-stats' %></td>
              <td><%= career_receiving_stat.team %></td>
              <td><%= career_receiving_stat.targets %></td>
              <td><%= career_receiving_stat.receptions %></td>
              <td><%= career_receiving_stat.receiving_yards %></td>
              <td><%= career_receiving_stat.yards_per_game %></td>
              <td><%= career_receiving_stat.yards_per_reception %></td>
              <td><%= career_receiving_stat.hundred_plus %></td>
              <td><%= career_receiving_stat.receiving_touchdowns %></td>
              <td><%= career_receiving_stat.rushing_attempts %></td>
              <td><%= career_receiving_stat.rushing_yards %></td>
              <td><%= career_receiving_stat.rushing_touchdowns %></td>
              <td><%= career_receiving_stat.fantasy_points %></td>
              <td><%= career_receiving_stat.ppr_fantasy_points %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>