<h2>Change Your Password</h2><br>

<div class="row">
  <div class="col-md-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="form-group">
        <%= f.hidden_field :reset_password_token %>
        <%= f.label :password %>
        <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: "Enter new password" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Change my password", class: 'devise btn btn-success' %>
      </div>
      
      <div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
    
    <% end %>
  </div>
</div>

