<div class="profile">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <h1 class="grey"><%= @player.name %></h1><br>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-4"><br>
      <table id="info" class="table table-bordered table-hover grey">
        <tbody>
          <tr><th style="width: 130px">Age</th><th class="text-center"><%= @player.age %></th></tr>
          <tr><th style="width: 130px">Height</th><th class="text-center"><%= @player.height %></th></tr>
          <tr><th style="width: 130px">Weight</th><th class="text-center"><%= @player.weight %></th></tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4 text-center">
      <div class="player"><%= image_tag(@player.image_path) %></div>
    </div>
    <div class="col-md-4"><br>
      <table class="table table-bordered table-hover grey">
        <tbody>
          <tr><th>College</th><th><%= @player.college %></th></tr>
          <tr><th>Position</th><th><%= @player.position %></th></tr>
          <tr><th style="width: 110px">Current Team</th><th><%= @player.team.name %></th></tr>
        </tbody>
      </table>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <% if policy(@player).update? %>
        <%= link_to "Edit Player", edit_team_player_path(@team, @player), class: 'edit btn btn-success' %>
      <% end %>
      <% if policy(@player).destroy? %>
        <%= link_to "Delete Player", [@team, @player], method: :delete, class: 'cancel btn btn-danger', data: { confirm: 'Are you sure you want to delete this player?' } %>
      <% end %>
    </div>
  </div><br>
</div><br><br><br>


<% if @player.quarterback? %>
  <%= render partial: 'career_passing_stat_table', locals: { player: @player } %><br><br><br>
  <%= render partial: 'passing_game_log_table', locals: { passing_game_log: @passing_game_log, passing_game_logs: @passing_game_logs } %><br><br><br>
<% end %>


<% if @player.running_back? %>
  <%= render partial: 'career_rushing_stat_table', locals: { player: @player } %><br><br><br>
  <%= render partial: 'rushing_game_log_table', locals: { rushing_game_log: @rushing_game_log, passing_game_logs: @passing_game_logs } %><br><br><br>
<% end %>


<% if @player.wide_receiver? %>
  <%= render partial: 'career_receiving_stat_table', locals: { player: @player } %><br><br><br>
  <%= render partial: 'receiving_game_log_table', locals: { receiving_game_log: @receiving_game_log, receiving_game_logs: @receiving_game_logs } %><br><br><br>
<% end %>


<% if @player.tight_end? %>
  <%= render partial: 'career_receiving_stat_table', locals: { player: @player } %><br><br><br>
  <%= render partial: 'receiving_game_log_table', locals: { receiving_game_log: @receiving_game_log, receiving_game_logs: @receiving_game_logs } %><br><br><br>
<% end %>