<div class="row">
  <div class="col-md-4 text-center">
    <h1 class="player"><%= @player.name %></h1><br>
    <%= image_tag(@player.image_path) %>
  </div>
  <div class="col-md-4 heading"><br><br><br>
    <h4 class="blue">Age </h4><h4><%= @player.age %></h4><br><br>
    <h4 class="blue">Team </h4><h4><%= @player.team_id %></h4><br><br>
    <h4 class="blue">Position </h4><h4><%= @player.position %></h4><br><br>
    <h4 class="blue">College </h4><h4><%= @player.college %></h4><br><br>
    <h4 class="blue">Draft Pick </h4><h4><%= @player.draft %></h4><br><br>
  </div>
</div>
<div class="row">
  <div class="col-md-4 text-center">
    <% if policy(@player).update? %>
      <%= link_to "Edit Player", edit_team_player_path(@team, @player), class: 'edit btn btn-success' %>
    <% end %>
    <% if policy(@player).destroy? %>
      <%= link_to "Delete Player", [@team, @player], method: :delete, class: 'cancel btn btn-danger', data: { confirm: 'Are you sure you want to delete this player?' } %><br><br>
    <% end %>
  </div>
</div>