<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="green"><%= @player.name %></h1>
    <h4>Age: <%= @player.age %></h4>
    <h4>College: <%= @player.college %></h4>
    <h4>Draft Pick: <%= @player.draft %></h4><br><br>
  </div>
  <div class="col-md-12 text-center">
    <%= link_to "Edit Player", edit_team_player_path(@team, @player), class: 'edit btn btn-success' %>
    <%= link_to "Delete Player", [@team, @player], method: :delete, class: 'cancel btn btn-danger', data: { confirm: 'Are you sure you want to delete this player?' } %><br><br>
  </div>
</div>