<div class="home">
  <div class="row">
    <h1 class="post"><%= @post.title %></h1>
    <div class="pull-right">
      <% if policy(@post).update? %>
        <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'devise btn btn-success' %>
      <% end %>
    </div>
    <small class="author">
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.username %><br><br>
    </small>
    <h4 class="body"><%= markdown_to_html @post.body %></h4><br>
  </div>
</div><br><br>