<tr>
  <td><%= career_receiving_stat.year %></td>
  <td><%= career_receiving_stat.team %></td>
  <td><%= career_receiving_stat.games_played %></td>
  <td><%= career_receiving_stat.targets %></td>
  <td><%= career_receiving_stat.receptions %></td>
  <td><%= career_receiving_stat.receiving_yards %></td>
  <td><%= career_receiving_stat.yards_per_game %></td>
  <td><%= career_receiving_stat.yards_per_reception %></td>
  <td><%= career_receiving_stat.hundred_plus %></td>
  <td><%= career_receiving_stat.receiving_touchdowns %></td>
  <td><%= career_receiving_stat.rushing_attempts %></td>
  <td><%= career_receiving_stat.rushing_yards %></td>
  <td><%= career_receiving_stat.rushing_touchdowns %></td>
  <td><%= career_receiving_stat.fantasy_points %></td>
  <td><%= career_receiving_stat.ppr_fantasy_points %></td>
</tr>