<tr>
  <td><%= passing_game_log.week %></td>
  <td><%= passing_game_log.date.strftime("%-m/%d") %></td>
  <td><%= passing_game_log.opponent %></td>
  <td><%= passing_game_log.completions %></td>
  <td><%= passing_game_log.passing_attempts %></td>
  <td><%= passing_game_log.completion_percentage %></td>
  <td><%= passing_game_log.passing_yards %></td>
  <td><%= passing_game_log.yards_per_attempt %></td>
  <td><%= passing_game_log.passing_touchdowns %></td>
  <td><%= passing_game_log.interceptions %></td>
  <td><%= passing_game_log.rushing_attempts %></td>
  <td><%= passing_game_log.rushing_yards %></td>
  <td><%= passing_game_log.rushing_touchdowns %></td>
  <td><%= passing_game_log.fantasy_points %></td>
  <% if policy(passing_game_log).update? %>
    <td><%= link_to "Edit", edit_player_passing_game_log_path(passing_game_log.player, passing_game_log), {:style=>'color: #ffffff'} %></td>
  <% end %>
  </td>
  <% if policy(passing_game_log).destroy? %>
    <td><%= link_to "Delete", [passing_game_log.player, passing_game_log], {:style=>'color: #ffffff', method: :delete} %></td>
  <% end %>
</tr>


